<!DOCTYPE HTML>
<html>

<head>

	<title>TradingView Charting Library demo</title>

	<!-- Fix for iOS Safari zooming bug -->
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<style>
		#tv_chart_container {
			width: 800px;
			height: 500px;
			margin-top: 50px;
			/* display: none; */
		}

		#app {
			padding: 10px;
		}
	</style>

</head>

<body style="margin:0px;">
	<div id="app">
		<!-- <button id="other">other</button>
			<button id="chart">
				chart
			</button>
			<div class="other">
				other content
			</div> -->
		<el-row>
			<el-col :span="24">

				<div class="grid-content bg-purple-dark"></div>
				<el-select v-model="symbolValue" placeholder="请选择商品" @change="change">
					<el-option v-for="item in options" :value="item">
					</el-option>
				</el-select>
			</el-col>
		</el-row>
		<el-row>
			<div id="tv_chart_container"></div>
		</el-row>

	</div>


</body>
<script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="charting_library/charting_library.min.js"></script>
<script type="text/javascript" src="datafeeds/udf/dist/polyfills.js"></script>
<script type="text/javascript" src="datafeeds/udf/dist/bundle.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script type="text/javascript">


	new Vue({
		el: '#app',
		data: {
			message: 'Hello Vue!',
			symbolValue: '',
			options: [],
			baseUrl: 'http://127.0.0.1:5000'
		},
		created() {
			console.log('created');
			this.getData();
			this.initTv();
		},
		methods: {
			name() {

			},
			change(e) {
				console.log(e);
				this.widget.chart().setSymbol(e);
			},
			getData() {
				var self = this;
				$.getJSON(self.baseUrl + '/collections', {}, function (res) {
					self.options = res;
					console.log(res);
				})
			},
			initTv() {
				var self = this;
				self.widget = window.widget = new TradingView.widget({
					// debug: true, // uncomment this line to see Library errors and warnings in the console
					fullscreen: true,
					symbol: 'BTC/USDT.HUOBI',
					interval: '15',
					timeframe:'60',
					container_id: "tv_chart_container",
					//	BEWARE: no trailing slash is expected in feed URL
					datafeed: new Datafeeds.UDFCompatibleDatafeed(self.baseUrl),
					// datafeed: new Datafeeds.UDFCompatibleDatafeed("https://demo_feed.tradingview.com"),

					library_path: "charting_library/",
					locale: "zh",
					//	Regression Trend-related functionality is not implemented yet, so it's hidden for a while
					drawings_access: { type: 'black', tools: [{ name: "Regression Trend" }] },
					disabled_features: [
						"use_localstorage_for_settings",
						// 'dont_show_boolean_study_arguments',
						// 'header_symbol_search',
						// "volume_force_overlay",
						// 'header_undo_redo',
						// 'header_indicators',
						// 'adaptive_logo',
						// 'header_screenshot',
						// 'header_saveload',
						// 'timeframes_toolbar',
						// 'header_resolutions',
						// 'header_fullscreen_button',
						// 'header_compare'
					],
					enabled_features: [
						"study_templates",
						'hide_last_na_study_output',
						'side_toolbar_in_fullscreen_mode',
						'disable_resolution_rebuild'
					],
					charts_storage_url: 'http://saveload.tradingview.com',
					charts_storage_api_version: "1.1",
					client_id: 'tradingview.com',
					user_id: 'public_user_id',
					overrides: {
						"volumePaneSize": "medium",
						"volumePaneSize": "medium",
						"paneProperties.legendProperties.showLegend": false,
						"paneProperties.legendProperties.showSeriesTitle": true,
						"paneProperties.legendProperties.showStudyArguments": true,
						"paneProperties.legendProperties.showStudyTitles": true,
						'paneProperties.rightAxisProperties.autoScaleDisabled': false,
						'paneProperties.topMargin': 10,
						'mainSeriesProperties.candleStyle.upColor': "rgba(0,196,169,1)",//up
						'mainSeriesProperties.candleStyle.borderUpColor': "rgba(0,196,169,1)",//up
						"mainSeriesProperties.candleStyle.downColor": 'rgba(255,67,77,0.8)',
						"mainSeriesProperties.candleStyle.borderDownColor": 'rgba(255,67,77,0.8)',
						'timeScale.rightOffset': 1,
						"paneProperties.background": "#ffffff"
					}
				});
				window.widget.onChartReady(function () {
					alert('ready');
					widget.chart().executeActionById("drawingToolbarAction");
					widget.chart().createStudy('MA Cross', false, false, [5, 0], null);
					widget.chart().createStudy('MA Cross', false, false, [10, 0], null);
					widget.chart().createStudy('MA Cross', false, false, [30, 0], null);
					widget.chart().createStudy('MA Cross', false, false, [60, 0], null);
				})
			},
			getParameterByName(name) {
				name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
				var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
					results = regex.exec(location.search);
				return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
			}
		},
	})

	$('#chart').click(function () {
		$('#tv_chart_container').show();
		$('.other').hide();
	})
	$('#other').click(function () {
		$('.other').show();
		$('#tv_chart_container').hide();
	})


		// TradingView.onready(function () {

	// });

</script>
<script>
				// disabled_features : [
// //用户本地存储
// "use_localstorage_for_settings",
// //左边工具栏
// "left_toolbar",
// // 顶部工具栏
// // "header_widget_dom_node",
// //周围边框
// "border_around_the_chart",
// //底部时间栏目
// "timeframes_toolbar",
// //k线与销量分开
// "volume_force_overlay",
// //图表右键菜单
// "pane_context_menu",
// //搜索
// "header_symbol_search", "symbol_search_hot_key",
// //左右箭头
// "header_undo_redo",
// //compare
// "header_compare",
// //图表类型
// "header_chart_type",
// //照相机
// "header_screenshot",
// //设置按钮
// "header_settings",
// //技术指标线
// "header_indicators",
// //上传下载按钮
// "header_saveload",
// //分辨率
// "header_resolutions",
// //全屏
// "header_fullscreen_button"
// ]
</script>

</html>